<!-- ***********this page created for login********** -->

    
    <!-- section for login page -->
    <section class="login" style="background-color: aliceblue;">
        <div class="container" >
                <div class="login-card" >
                    <div class="row">
                        <div class="col-md-6">
                             <img class="login-img" src="/img/regg.jpg" alt="a girl walking image">   
                        </div>
                        <div class="col-md-6" >
                             <h2 class="login-h2">Hi, Welcome Back</h2>
                             <div>
                                <form action="/login" method="POST" class="login-form" >
                                    <% if(messages.error) { %>
                                        <span style="color:red; font-size: 1rem;"><%= messages.error %></span>
                                        <% } %>
                                                                               
                                    <div class="mb-4">
                                        <input type="email" name="email"
                                        class="login-email" id="email" placeholder="Registered Email">        
                                        </div>
                                        <!-- area for writing password-->
                                        <div class="mb-6">
                                            <input type="password" name="password" class="login-psw" id="password" placeholder="*****************">   
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <button style="border-radius: 10px; font-weight: 400; width: 10rem; margin:2rem 5rem; height: 3rem; border: 1px solid transparent; background-color:  #410056; color: white; " type="submit"> 
                                            Log In
                                            </button>
                                            <a href="/register" class="font-size:1; color:#410056">Don't have account?</a>
                                        </div>
                                    </form>
                            <div class="alert alert-info" style="display: none; background-color: white;"></div>
                            <div class="alert alert-error" style="display: none;"></div>
                          </div>
                            </form>
                            <!-- <div id="recaptcha-container" id="re-captcha" style="margin-left:12%; margin-bottom: 10px;"></div> -->
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>



