<!-- ***********this page created for registration********** -->


    <!-- section for login page -->
    <section class="login"  style="background-color: aliceblue;" >
      <div class="container">
              <div class="login-card">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="login-image">
                            <img class="login-img" src="/img/login-food.png"  alt="a girl walking image">   
                          </div>
                      </div>
                      <div class="col-md-6">
                           <h2 class="login-h2">Get Started</h2>
                           <form action="/register" method="POST" class="register-form">
                            <% if(messages.error) { %>
                              <span style="font-size: 10px; color:red; background-color: transparent;"><%= messages.error %></span>
                            <% } %>
                                 <input class="login-email" type="text" placeholder="Username" name="name" required value="<%= messages.name %>"><br/>
                                 <input class="login-psw" type="email" placeholder="Email" name="email" required  value="<%= messages.email %>" >
                                 <input class="login-psw" type="password" placeholder="Password" name="password" required>
                                 <div class="flex items-center justify-between">
                                  <button style="border-radius: 10px; font-weight: 400; width: 10rem; margin-left: 5rem; height: 3rem; border: 1px solid transparent; background-color:  #410056; color: white; " type="submit"> 
                                  Sign up
                                  </button>
                                  <a href="/login" class="font-size:1; color:#410056">Already have account?</a>
                              </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>



