<section class="orders light-section">
    <div class="container mx-auto px-32 pt-12">
        <h1 style="color: black; ">All orders</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr style="border-color: grey; border-width: 2px;">
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Order Id</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Name</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Phone</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Address</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">status</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Placed at</th>
                    <th class="px-4 py-2 text-center"  style="border-color: grey; border-width: 2px;">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>