<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                  <!--***************it fetch and dipslay order id*******--> 
                <h6 class="bg-white py-1 rounded-full font-bold px-4 text-red-600 text-xs"><%=
                    order._id %></h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
            <ul>
                        
           <!---**************** these all give help in giving status 
                                 to js/admin.js for updating the status of order****************  -->  
                <li class="status_line text-sm md:text-xl pb-12" data-status="order_placed"><span>Order Placed</span>
                </li>
                <li class="status_line text-sm md:text-xl pb-12" data-status="confirmed"><span>Order confirmation</span>
                </li>
                <li class="status_line text-sm md:text-xl pb-12" data-status="prepared"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-12" data-status="delivered"><span>Out for delivery </span>
                </li>
                <li class="status_line text-sm md:text-xl" data-status="completed"><span>Complete</span></li>
            </ul>
        </div>
    </div>
</section>
