<section class="status" style="background-color: aliceblue;">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 style="font-size: 20px;">Track delivery status</h1>
               <!--***************it fetch and dipslay order id*******--> 
                <h6 style="color: red; font-size:12px; background-color: transparent; "><%=
                    order._id %></h6>      
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
                        
           <!---**************** these all give help in giving status 
                                 to js/admin.js for updating the status of order****************  -->  
                <li class="status_line text-sm md:text-xl pb-12" data-status="order_placed"><span>Order Placed</span>
                </li>
                <li style="font-size: 15; margin: 45px 20px;"  data-status="confirmed"><span>Order confirmation</span>
                </li>
                <li style="font-size: 15; margin: 45px 20px;"  data-status="prepared"><span>Preparation</span></li>
                <li style="font-size: 15; margin: 45px 20px;"  data-status="delivered"><span>Out for delivery </span>
                </li>
                <li style="font-size: 15; margin: 45px 20px;"  data-status="completed"><span>Complete</span></li>
            </ul>
        </div>
    </div>
</section>
